.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #98B44C; 
  color: #fff;
  font-size: 24px;
  transition: all 0.2s ease;
  z-index: 9999;
}


.chatbot-container {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 350px; 
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
  z-index: 9999;
}


body.show-chatbot .chatbot-container {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}


.chat-header {
  background: #98B44C; 
  color: #fff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-header h2 { font-size: 1.2rem; font-family: sans-serif; margin: 0;}
.chat-header .close-btn { cursor: pointer; font-size: 20px;}


.chatbox {
  overflow-y: auto;
  height: 300px; 
  padding: 20px 20px 40px;
  font-family: sans-serif;
}
.chatbox .chat { display: flex; list-style: none;}


.chatbox .outgoing { margin: 20px 0; justify-content: flex-end; }
.chatbox .outgoing p {
  background: #98B44C; 
  color: #fff;
  border-radius: 10px 10px 0 10px;
}


.chatbox .incoming span {
  width: 32px; height: 32px; color: #fff;
  align-self: flex-end; background: #98B44C; text-align: center; line-height: 32px; border-radius: 4px; margin: 0 10px 7px 0;
}
.chatbox .incoming p {
  background: #f2f2f2;
  color: #000;
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  font-size: 0.95rem;
  max-width: 75%;
}


.chat-input {
  display: flex; gap: 5px;
  position: absolute; bottom: 0; width: 100%; background: #fff;
  padding: 3px 20px; border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px; 
  width: 100%; 
  border: none; outline: none;
  resize: none; max-height: 180px; padding: 15px 15px 15px 0; font-size: 0.95rem; font-family: sans-serif;
}
.chat-input span {
  align-self: flex-end; 
  color: #98B44C; 
  cursor: pointer; 
  height: 55px;
  display: flex; 
  align-items: center; 
  visibility: hidden; 
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span { visibility: visible; }